<!DOCTYPE html>

<html lang="en">
<head>
    <title>Confirmation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <link rel="stylesheet" href="lightstyles.css">
    <script type="text/javascript" src="template.js"></script>
    <!--link for social media icons-->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> --> 
</head>
<body onload="navBar(), footer()">
    <nav id="navbar"></nav>
    <h1>Customer Created</h1>
    <h2>Thanks for making an account. Please go back to the login page to apply for membership discounts</h2>
    <footer class="containerFoot"></footer>
</body>
</html>