<!-- html header -->
<html lang="en">
<title>header</title>
<meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
<link rel="stylesheet" href="lightstyles.css">

<style>
    ul li 
    {float: left;}

    body {
        width: 100%;
        height: 100%;
    }

    #timer 
    {float: right;}
</style>

<script>
    function startTime() 
{
    const today = new Date();
    var h = today.getHours();
    var m = today.getMinutes();
    var s = today.getSeconds();
    var d = today.getDate();
    var mts = today.getMonth() + 1;
    var y = today.getFullYear() + 1;
    if (m<10)
        {m = "0" + m}
    if (s<10)
        {s= "0" + s}
    document.getElementById('timeDisplay').innerHTML = h + ":" + m + ":" + s + "   " + mts + "." + d + "." + y;
    setTimeout(startTime, 1000);
  }
</script>

<body onload="startTime()">
    <h1> title page here</h1>

    <nav>
        <ul>
            <li><a href="https://localhost/home.html">Home</a> </li>
            <li><a href="https://localhost/about.html">About</a> </li>
            <li><a href="https://localhost/sample.html">Sample</a> </li>
            <li><a href="https://localhost/vacationPackages">Vacation Packages</a></li>
            <li><a href="http://localhost/contact.html"> Contact</a> </li>
            <li><a href="https://localhost/404.html"> 404 Page</a></li>
            <li id="timer"><a id="timeDisplay"></a></li>
        </ul>
    </nav>
</body>
</html>