<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <title>Welcome to Xplore</title>
    <link href="lightstyles.css" rel="stylesheet">
    <script type="text/javascript" src="getTime.js"></script> 
	<style>
		* {
			text-align: center;
			
		}
		body {
			background-color: black;
		}
		.mainbox {
			margin-top: 0px;
			margin-right: 10%;
			margin-left: 10%;
			background-color: white;
			
		}
		.mainbox h1 {
			background-image: url("Koanpool.webp");
			background-size: cover;
			padding-top: 20%;
			padding-bottom: 5%;
			color: white;
		}
		
		
	</style>
</head>
<body onload="startTime()">
    <nav>
		<ul>
			<li><a href="index">Home</a> </li>
			<li><a href="registration">Registration</a> </li>
			<li><a href="sample">Sample</a> </li>
			<li><a href="vacationPackages">Vacation Packages</a></li>
			<li><a href="contact"> Contact</a> </li>
			<li><a href="404"> 404 Page</a></li>
			<li id="timer"><a id="timeDisplay"></a></li>
		</ul>
	</nav>
    <div class="mainbox"><h1>Welcome to Travel Experts</h1>
	<div>test2</div>
	<div>test3</div>
</div>
	<!--Load in Vacation package from seperate page-->
</body>
</html>