<!DOCTYPE html>
<html lang="en">

<head>
    <title>Create Customer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" , charset="UTF-8">
    <!-- app.use(express.static('public'));     -->
    <link rel="stylesheet" href="lightstyles.css">
    <link rel="stylesheet" href="registrationLightStyles.css"> <!-- Page-specific Stylesheet -->
    <script type="text/javascript" src="template.js"></script>

</head>

<body onload="navBar(), footer()">
    <nav id="navbar"></nav>

    <h1 id="headText">Login</h1>

    <div class="form-container">

        <div class="img-container">
            <img id="leftImg" src="kidsPlayingInSand.jpeg" alt="Kids playing in the sand" class="form-image">
            <img id="leftImg" src="IndiaElephantRide.jpeg" alt="People riding elephants in India" class="form-image">
            <img id="leftImg" src="goldHarold.jpeg" alt="Harold playing gold" class="form-image">
            <img id="leftImg" src="akropolis.jpg.webp" alt="The akropolis" class="form-image">
            <!-- <img id="leftImg" src="rockeyMountainsPeopleHiking.jpeg" alt="People hiking in the Rockey Mountains" class="form-image">
            <img id="leftImg" src="koanpool2.webp" alt="Koan pool" class="form-image">
            <img id="leftImg" src="mujeres.webp" alt="Mujeres" class="form-image"> -->
        </div>

        <form method="post" action="/logins">
            <title>Login</title>

            <div class="field">
                <p>Contact info</p>
                <input type="text" id="email" name="cxEmail" title="email" placeholder=" " required />
                <label for="email">Email</label>
                <span id="emailError" style="color: red; display: none;">Invalid email format</span>
            </div>

            <div class="field">
                <p>Password</p>
                <input type="password" id="password" name="cxPassword" placeholder=" " required />
                <label for="password">Password</label>
                <span id="eyeCon">&#128064</span>
            </div>
            <button type="submit" id="loginButton">Login</button><br>

            <div class="field">
                <p>Don't have an account? <a href="registration.html">Register here.</a></p>
            </div>
        </form>

        <div class="img-container" style="position:relative">
            <img id="rightImg" src="businessRestaurant.jpeg" alt="People in restaurant" class="form-image">
            <img id="rightImg" src="amazonForestPeople.jpeg" alt="People in the Amazon Forest" class="form-image">
            <img id="rightImg" src="maldives.jpg" alt="The beach" class="form-image">
            <img id="rightImg" src="akihabara.jpeg" alt="Akihabara" class="form-image">
            <!-- <img id="rightImg" src="akropolis.jpg.webp" alt="Akropolis" class="form-image">
            <img id="rightImg" src="Koanpool.webp" alt="Koan pool" class="form-image">
            <img id="rightImg" src="mujeres2.webp" alt="Mujeres" class="form-image"> -->
        </div>
    </div>

    <script>

        document.getElementById('loginButton').addEventListener('click', function() {
            var email = document.getElementById('email').value;
            var password = document.getElementById('password').value;
            var emailError = document.getElementById('emailError');

            if (email.match(/[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$/) == null) {
                emailError.style.display = 'block';
                return false;
            }
            else {
                emailError.style.display = 'none';
            }
        });

        function togglePasswordVisibility() {           // this function is onclick, and you click on the eyeCon (the icons).
            var passwordInput = document.getElementById("password");

            if (passwordInput.type === "password") {    // If the type = password:
                passwordInput.type = "text";            // make type = text
                eyeCon.innerHTML = "&#128584";          // change the icon to monkey closing its eyes.
            }
            else {                                      // If the type != password (when type = text):
                passwordInput.type = "password";        // make type = password
                eyeCon.innerHTML = "&#128064";          // change the icon to eyes.
            }
        }

        var eyeCon = document.getElementById("eyeCon"); // this completes the function.
        eyeCon.addEventListener('click', togglePasswordVisibility); // Listen to when the icon is clicked, then make the togglePassword function work.
        
    </script>
    <footer class="containerFoot"></footer>
</body>

</html>