<!DOCTYPE html> <!--Code done by Amit Shalev-->
<html lang="en">

<head>
    <title>Create Customer</title> <!-- Title of website -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" , charset="UTF-8">
    <link rel="stylesheet" href="lightstyles.css"> <!-- Stylesheet for all the webpages -->
    <link rel="stylesheet" href="registrationLightStyles.css"> <!-- Page-specific Stylesheet -->
    <script type="text/javascript" src="template.js"></script> <!-- Javascript for all the webpages -->

</head>

<body onload="navBar(), footer()">

    <nav id="navbar"></nav>

    <h1 id="headText">Register for free for exclusive deals!</h1><br>

    <div class="form-container">
        <div class="img-container">
            <img id="leftImg" src="kidsPlayingInSand.jpeg" alt="Kids playing in the sand" class="form-image">
            <img id="leftImg" src="IndiaElephantRide.jpeg" alt="People riding elephants in India" class="form-image">
            <img id="leftImg" src="goldHarold.jpeg" alt="Harold playing gold" class="form-image">
            <img id="leftImg" src="akropolis.jpg.webp" alt="The akropolis" class="form-image">
            <img id="leftImg" src="rockeyMountainsPeopleHiking.jpeg" alt="People hiking in the Rockey Mountains"
                class="form-image">
            <img id="leftImg" src="koanpool2.webp" alt="Koan pool" class="form-image">
            <img id="leftImg" src="mujeres.webp" alt="Mujeres" class="form-image">
        </div>

        <form method="post" action="/insertusers" onsubmit="return validateForm()">
            <div id="note">
                <p> <u><strong>Note:</strong></u><br>
                    This registration form is <strong>not mandatory</strong> to purchase a vacation package from
                    TravelExperts.
                    <br>The perks of signing up are:
                </p>
                <p id="notePoint">1. Exclusive members discounts.</p>
                <p id="notePoint">2. An assigned, dedicated travel agent.</p>
                <p id="notePoint">3. Search recommendations taylored to your taste.</p>
            </div><br><br>
            <div class="field">
                <p>Name</p><br>

                <input type="text" id="fName" name="cxFirstName" title="firstName" placeholder=" " required/>
                <label for="fName">First name</label>

                <input type="text" id="lName" name="cxLastName" title="lname" placeholder=" " required/>
                <label for="lName">Last name</label>
            </div><br>

            <div class="field">
                <p>Contact info</p><br>
                <input type="text" id="email" name="cxEmail" title="email" placeholder=" " required
                    pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" />
                <!-- pattern="[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$" required /> -->
                <label for="email">Email</label>
                <span id="emailError">Invalid email format</span><br>

                <input type="text" id="pPhone" name="cxPPhone" title="pPhone" placeholder=" " required
                    pattern="\(\d{3}\)-\d{3}-\d{4}" onkeyup="formatcxPhone()" />
                <label for="pPersonal">Phone #</label>
                <span id="phoneError">Invalid phone format</span><br>


            </div><br>

            <div class="field">
                <p>Address (optional)</p><br>
                <input type="text" id="address" name="cxAddress" title="address" placeholder=" " />
                <label for="address">Address</label>

                <input type="text" id="postalCode" name="cxPostalCode" title="postalCode" placeholder=" " />
                <label for="postalCode">Postal code</label>
                <p id="postalCodeEx">Ex. N1N-1N1</p>

                <input type="text" id="city" name="cxCity" title="city" placeholder=" " />
                <label for="city">City</label>

                <input type="text" id="province" name="cxProv" title="province" placeholder=" " />
                <label for="province">Province</label>

                <input type="text" id="country" name="cxCountry" title="country" placeholder=" " />
                <label for="country">Country</label>
            </div><br>

            <div class="field">
                <p>Password</p><br>
                <input type="password" id="password" name="cxPassword" placeholder=" " required />
                <label for="password">Password</label>
                <span id="eyeCon">&#128064</span>
            </div><br>
            <!-- <input type="checkbox" id="robot" name="robot" style="margin-right: 0px;">I am not a robot</input> -->
            <button type="submit">Create an account</button>
        </form>

        <div class="img-container">
            <img id="rightImg" src="businessRestaurant.jpeg" alt="People in restaurant" class="form-image">
            <img id="rightImg" src="amazonForestPeople.jpeg" alt="People in the Amazon Forest" class="form-image">
            <img id="rightImg" src="maldives.jpg" alt="The beach" class="form-image">
            <img id="rightImg" src="akihabara.jpeg" alt="Akihabara" class="form-image">
            <img id="rightImg" src="akropolis.jpg.webp" alt="Akropolis" class="form-image">
            <img id="rightImg" src="Koanpool.webp" alt="Koan pool" class="form-image">
            <img id="rightImg" src="mujeres2.webp" alt="Mujeres" class="form-image">
        </div>
    </div>

    <script>

        function togglePasswordVisibility() {           // this function is onclick, and you click on the eyeCon (the icons).
            var passwordInput = document.getElementById("password");

            if (passwordInput.type === "password") {    // If the type = password:
                passwordInput.type = "text";            // make type = text
                eyeCon.innerHTML = "&#128584";          // change the icon to monkey closing its eyes.
            }
            else {                                      // If the type != password (when type = text):
                passwordInput.type = "password";        // make type = password
                eyeCon.innerHTML = "&#128064";          // change the icon to eyes.
            }
        }

        var eyeCon = document.getElementById("eyeCon"); // this completes the function.
        eyeCon.addEventListener('click', togglePasswordVisibility); // Listen to when the icon is clicked, then make the togglePassword function work.

        // email regex
        document.getElementById('email').addEventListener('blur', function (e) {
            var pattern = new RegExp(e.target.pattern);
            var emailError = document.getElementById('emailError');
            if (pattern.test(e.target.value)) {
                emailError.style.display = 'none';
            }
            else {
                emailError.style.display = 'block';
            }
        });

        // I tried to put the next 2 functions together, but it did not work for me. So they stayed 2 separate functions.

        // phone regex
        document.getElementById('pPhone').addEventListener('blur', // 'blur' so it only show err message after you click out of the input box.
            function (e) {                                  // Place a function in the pPhone 
                var pattern = new RegExp(e.target.pattern); // Get the RegExp element from pPhone.
                var phoneError = document.getElementById('phoneError'); // Get the error message
                if (pattern.test(e.target.value)) {         // If the pattern matches RegExp:
                    phoneError.style.display = 'none';      // Keep it at display = none.
                }
                else {
                    phoneError.style.display = 'block';     // Otherwise display the err text.
                }
            });

        function formatcxPhone() {
            var pPhone = document.getElementById("pPhone");
            var regex = /^\d{10}$/; // RegExp that is 10 digits.


            if (regex.test(pPhone.value)) // If the pattern matches the RegExp:
            {
                pPhone.value = pPhone.value.replace(/(\d{3})(\d{3})(\d{4})/, "($1)-$2-$3");     // Change the text from xxxxxxxxxx to (xxx)-xxx-xxxx.
            }
            else {
                pPhone.value = pPhone.value.replace(/[^0-9]/g, ""); // If at any point there are any other values that is not digit, remove it.
            }
        };

        // This is a good function! BUT it is still in progress...
        // function formatcxPhone() {
        //     var pPhone = document.getElementById("pPhone");
        //     var regex = /^\d{14}$/; // RegExp that is 10 digits.
        //     if (pPhone.value.length > 14) // If the length of the number is greater than 10 digits:
        //     {
        //         pPhone.value = pPhone.value.substring(0, 14); // Remove any digits after the 10th digit.
        //     }
        //     else
        //     {
        //         if (pPhone.value.length > 3 && pPhone.value[5] !== "-") // If the length of the number is greater than 3 digits:
        //             pPhone.value = "(" + pPhone.value.substring(0, 3) + ")-" + pPhone.value.substring(3); // Add a dash after the 3rd digit.
        //             // pPhone.value = pPhone.value.substring(0)
        //         if (pPhone.value.length > 9 && pPhone.value[9] !== "-") // If the length of the number is greater than 7 digits:
        //             pPhone.value = pPhone.value.substring(0, 9) + "-" + pPhone.value.substring(9); // Add a dash after the 7th digit.
        //     }
        // };

    </script>
    <footer class="containerFoot"></footer>
</body>

</html>