<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Vacation Packages</title>
    <link href="lightstyles.css" rel="stylesheet">
</head>
<body>
    <nav>
		<ul>
			<li><a href="index">Home</a> </li>
			<li><a href="registration">Registration</a> </li>
			<li><a href="sample">Sample</a> </li>
			<li><a href="vacationPackages">Vacation Packages</a></li>
			<li><a href="contact"> Contact</a> </li>
			<li><a href="404"> 404 Page</a></li>
			<li id="timer"><a id="timeDisplay"></a></li>
		</ul>
	</nav>
    <h1>vacation packages</h1>
</body>
</html>`