<!--Code done by Joshua Wijaya-->
<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<title>Vacation Packages</title>
	<link rel="stylesheet" href="lightstyles.css">
	<link rel="stylesheet" href="vacationstyles.css">
	<script type="text/javascript" src="template.js"></script>
</head>

<body onload="navBar(), footer()">
	<nav id="navbar"></nav>

	<h1 id="headText">Vacation Packages Available</h1>

	<!-- Categories for phase 2
	<div class="row"> 
		<div class="column"> 
			<img id="image2" onclick="toKoan()" src="koanhotel.webp">	
		</div>
		<div class="column">
			<img id="image2" onclick="toCinn()" src="cinnamon2.webp">	
		</div>
		<div class="column">
			<img id="image2" onclick="toMuje()" src="mujeres3.webp">	
		</div>
	</div>
-->
	<div id="vaclist">

		<div id="container">


			<div id="imgContainer">
				<img id="image" src="Koanpool.webp"><br>
				<img id="image" src="Koanpool2.webp"><br>
				<img id="image" src="koanhotel.webp">
			</div>
			<div id="details">
				<h1>Package 1</h1>
				<p id="destination">
				<div class="label2" id="koan">Destination: </div>Royal Kona Resort</p>
				<p>
				<div class="label2" id="flight1">Flight: </div>Air Canada🍁</p>
				<p>
				<div class="label2" id="rating">Rating: </div>
				<div id="stars">★★★★★</div>
				</p>
				<p>
				<div class="label2" id="price">Price: </div>$2,246</p>
				<p>
				<div class="label2" id="description">Description: </div>
				Royal Kona Resort is located near the beach and in a walkable area with good shopping. Kahalu'u Beach
				Park and Kona Country Club are worth checking out if an activity is on the agenda, while those wishing
				to experience the area's natural beauty can explore Magic Sands Beach and Kaloko-Honokohau National
				Historical Park. Don't miss out on a visit to Kona Le'a Plantation.
				</p>
				<p>
				<div class="label2" id="review">Amenities: </div>
				<div>
					All-inclusive ♾️ • Pool 🏊‍♂️ • Bar 🍸 
					<br><br>
					Restaurant 🍴 • Room Service ☎ • Breakfast 🍽️
				</div>
				</p>
				<p>
				<div class="label2" id="tour">Tour Guide: </div><a
					href="https://www.royalkona.com/plan-your-stay/explore-around-the-big-island">https://www.royalkona.com/plan-your-stay/explore-around-the-big-island</a>
				</p>
				<p>
				<div class="label2" id="date">Date: </div>January 22 - January 29</p>
				<button type="button" id="book">Book</button>
				<a href="/contact.html" id="getInfo">
					<button>Request more information</button>
				</a>
				<!--Add additional features to add addition services. OR Amenities reference: expedia-->
				<!--Add hover and roll over functions-->
				<!--Add categories feature, Hawaii, Maldives, etc-->
				<!--On whatever category its disaplying, make sure to add an indication maybe the circle hovering or a text saying the category-->
				<!--Autofill + Top-->
				<!--Better layout if there's time-->
			</div>
		</div>

	</div>
	<div id="vaclist">

		<div id="container">

			<div class="background-image"></div>
			<div id="imgContainer">
				<img id="image" src="cinnamon.webp"><br>
				<img id="image" src="cinnamon2.webp"><br>
				<img id="image" src="cinnamon3.webp">
			</div>
			<div id="details">
				<h1>Package 2</h1>
				<p id="destination">
				<div class="label2" id="cinn">Destination: </div>Cinnamon Velifushi Maldives</p>
				<p>
				<div class="label2" id="flight2">Flight: </div>West Jet🍁</p>
				<p>
				<div class="label2" id="rating">Rating: </div>
				<div id="stars">★★★★★</div>
				</p>
				<p>
				<div class="label2" id="price">Price: </div>$2,396</p>
				<p>
				<div class="label2" id="description">Description: </div>
				Located in Aarah, Cinnamon Velifushi Maldives is by the sea. Thinadhoo Harbor and Felidhoo Harbor are
				worth checking out if an activity is on the agenda, while those wishing to experience the area's natural
				beauty can explore Aarah Island and Olhuveli Beach.
				</p>
				<p>
				<div class="label2" id="review">Amenities: </div>
				<div>
					All-inclusive ♾️ • Pool 🏊‍♂️ • Bar 🍸 
					<br><br>
					Restaurant 🍴 • Room Service ☎ • Breakfast 🍽️
				</div>
				</p>
				<p>
				<div class="label2" id="tour">Tour Guide: </div><a
					href="https://traveljee.com/destination/asia/maldives/how-to-get-to-cinnamon-velifushi-maldives/">https://traveljee.com/destination/asia/maldives/how-to-get-to-cinnamon-velifushi-maldives/</a>
				</p>
				<p>
				<div class="label2" id="date">Date: </div>January 24 - January 30</p>
				<button type="button" id="book">Book</button>
				<a href="/contact.html" id="getInfo">
					<button>Request more information</button>
				</a>
			</div>
		</div>

	</div>

	<div id="vaclist">

		<div id="container">

			<div class="background-image"></div>
			<div id="imgContainer">
				<img id="image" src="mujeres.webp"><br>
				<img id="image" src="mujeres2.webp"><br>
				<img id="image" src="mujeres3.webp">
			</div>
			<div id="details">
				<h1>Package 3</h1>
				<p id="destination">
				<div class="label2">Destination: </div>Excellence Playa Mujeres</p>
				<p>
				<div class="label2" id="flight3">Flight: </div>Air Canada🍁</p>
				<p>
				<div class="label2" id="rating">Rating: </div>
				<div id="stars">★★★★</div>
				</p>
				<p>
				<div class="label2" id="price">Price: </div>$1,823</p>
				<p>
				<div class="label2" id="description">Description: </div>

				Excellence Playa Mujeres - Adults Only All Inclusive is situated in Playa Mujeres, a neighborhood in
				Punta Sam, adjacent to a golf course and boasting a private beach, countless entertainment, offering a
				perfect setting for an exclusive and all-inclusive getaway.
				</p>
				<p>
				<div class="label2" id="review">Amenities: </div>
				<div>All-inclusive ♾️ • Pool 🏊‍♂️ • Bar 🍸 <br><br>Restaurant 🍴 • Room Service ☎ • Breakfast 🍽️
				</div>
				</p>
				<p>
				<div class="label2" id="tour">Tour Guide: </div><a
					href="https://www.islandlifemexico.com/cancun-visitors-guide/">https://www.islandlifemexico.com/cancun-visitors-guide/</a>
				</p>
				<button type="button" id="book">Book</button>
				<a href="/contact.html" id="getInfo">
					<button>Request more information</button>
				</a>
			</div>
		</div>

	</div>
	<footer class="containerFoot"></footer>
</body>
</html>