* {
    text-align: center;
}
body {
    height: 100%;
}
#bgimg {
    background-color: black;
    background-image: url(maldives.jpg);
    filter: blur(4px);
    resize:none;
    min-height: 2330px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    position:absolute;
    z-index: -1;
}
.screenbox {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mainbox {
    width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 10px 20px black;
}
.mainbox h1 {
    font-size: 72px;
}
#headerbg {
    background-image: url("Koanpool.webp");
    background-size: cover;
    width: 100%;
    height: 600px;
    position: relative;
}
#headerbgdark{
    background: rgba(0, 0, 0, 0.6);
    margin: 0px;	
    height: 100%;
    position: absolute;
}
#gradientheader {
    background: -webkit-linear-gradient(144deg, rgb(255, 0, 0) 0%, rgb(243, 215, 0)00%);
    background-clip:content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
    font-style:italic;
    text-shadow: 0px 0px 5px #ff6600;
}
.mainbox .logo {
    width: 40%;
    height: 40%;
    border-radius: 100%;
}
#homenav {
    display: flex;
    width: 100%;
    height: 500px;
    align-items: center;
    justify-content: space-between;
}

.navbox {
    filter:brightness(50%);
    color: black;
    text-shadow: 0px 2px 3px black;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: white;
    height: inherit;
    transition: 0.3s;
}
#navbox1 {
    background: url("./homepage_files/telephone.png");
    background-size: cover;
    width: 30%;
}
#navbox2 {
    background: url("hawaii.webp");
    background-size: cover;
    width: 40%;
}
#navbox3 {
    background: url("./homepage_files/register.png");
    background-size: 100%;
    width: 30%;
    
}
.navbox h2 {
    filter:brightness(100%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 35px;
    word-wrap: break-word;
    
}
.navbox:hover {
    background-image: url("hawaii.webp");
    filter: brightness(100%);
    color: white;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: black;
    
    }
.navbox h2:hover {
    color: white;
}

.textbox {
    padding: 0% 10%;
}
.textbox h2 {
    padding-top: 5%;
    padding-bottom: 2%;
    font-style: italic;
    text-align: center;
    font-size: xx-large;
    font-style: normal;
    font-weight: normal;
    color: rgb(49, 32, 17);
}
.textbox p {
    padding-bottom: 10%;
    font-size:large;
}
#imagebox1 {
    height: 500px;
    background-image: url("koanhotel.webp");
    width: 100%;
    height: 500px;
    background-size: cover;
}