/* Center ALL Text by default */
* {
    text-align: center;
}

/* Background Image */
#bgimg {
    background-color: black;
    background-image: url(maldives.jpg);
    filter: blur(4px);
    resize: none;
    min-height: 2330px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    position: absolute;
    z-index: -1;
}

/* Whole screen container - used to center .mainbox */
.screenbox {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Main content container - slim design to support mobile usage */
.mainbox {
    width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 10px 20px black;
}

/* Header Container */
.mainbox h1 {
    font-size: 72px;
    position: absolute;
    top: 150px;
    width: 900px;
}

/* Header Text */
#gradientheader {
    background: -webkit-linear-gradient(90deg, rgb(255, 89, 0) 0%, rgb(255, 255, 255), rgb(255, 255, 255));
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
    font-style: italic;
    filter: drop-shadow(2px 2px 2px black);
    width: 100%;
    display: block;
}

/* Header Background */
#headerbg {
    background-image: url("Koanpool.webp");
    background-size: cover;
    filter: brightness(70%);
    width: 100%;
    height: 600px;
    position: relative;
}

/* Header Logo */
.mainbox .logo {
    width: 60%;
    height: 60%;
    transform: translateY(-50px);
    filter: drop-shadow(2px 2px 2px black);
}

/* Interactable Navigation Menu Container - clicking opens in new tab */
#homenav {
    display: flex;
    width: 100%;
    height: 500px;
    align-items: center;
    justify-content: space-between;
}

/* Navigation Boxes */
.navbox {
    filter: brightness(50%);
    color: black;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: white;
    height: inherit;
    transition: 0.3s;
}

/* Navigation Header Text */
.navbox h2 {
    filter: brightness(100%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 35px;
    text-shadow: 4px 4px 2px black;
    word-wrap: break-word;

}

/* Lighten Navigation Box on Hover */
.navbox:hover {
    background-image: url("hawaii.webp");
    filter: brightness(100%);
    color: white;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: black;

}

/* Change Navigation Box Text Color on Hover */
.navbox h2:hover {
    color: white;
}

/* Contact Navigation Box */
#navbox1 {
    background: url("./homepage_files/telephone.png");
    background-size: cover;
    width: 30%;
}
/* Vacation Packages Navigation Box */
#navbox2 {
    background: url("hawaii.webp");
    background-size: cover;
    width: 40%;
}
/* Registration Navigation Box */
#navbox3 {
    background: url("./homepage_files/register.png");
    background-size: 100%;
    width: 30%;
}

/* Page Description Container */
.textbox {
    padding: 0% 10%;
}
/* Page Description Header */
.textbox h2 {
    padding-top: 5%;
    padding-bottom: 2%;
    font-style: italic;
    text-align: center;
    font-size: xx-large;
    font-style: normal;
    font-weight: normal;
    color: rgb(49, 32, 17);
}
/* Page Description */
.textbox p {
    padding-bottom: 10%;
    font-size: large;
}

/* Image from Vacation package */
#imagebox1 {
    height: 500px;
    background-image: url("koanhotel.webp");
    width: 100%;
    height: 500px;
    background-size: cover;
}

/* Footer - changed from default style to align with page design */
footer {
    position: relative;
    bottom: -205px;
}