/* Light CSS Styles */

@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: "Rubik";   ^^^

/* *****reminder: put button in navbar to toggle dark mode/light mode*****  */
/* FOR PHASE 2 ^*/

/* make clickable websites float left instead of down */
.float-left
{float: left;}
/* make clickable websites look pretty */
* {
    font-family: "Rubik";
}

/* navigation bar */
nav ul 
{
    display:flex;
    flex-direction: row;
    align-content: stretch;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
nav ul li 
{
    list-style-type:none;
    margin-right:-4px;
    padding:10px;
    border-right:1px solid white;
    flex: 1;
}
nav li a 
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover 
{
    background-color: white;
}
#timeDisplay:hover {
    text-decoration: none;
    background-color: #333;
    color: white;
} 

/* headers */
header {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    color:white;
    font-size: 48px;
    text-align: center;
}
h2 {
    text-align: left;
    font-weight: bolder;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.container {
    max-width: 1100px;
    max-height: 900px;
    margin: 0 auto;
    
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.3);
    
    
    

    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.7);
    display: flex;
    flex-wrap: wrap;
    
    border: 2px solid rgb(0, 0, 0);
    border-radius: 12px;
    
}
.form-container {
    flex: 1;
    margin-right: 30px
   
}

.contact-info {
    flex: 1;
    border: 5px solid rgb(0, 0, 0)363;
    border-radius: 4px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 12px;
    color:black;
    
}


.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    
}

.form-group button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #111826;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
}

.form-group button[type="submit"]:hover {
    background-color: rgb(61, 85, 193);
}
.contact-info div{
    background-color: grey;

    
}
#contact-form{
    color:white;
}

/* Light Style for vacation Packages  */
#container {
    background: linear-gradient(45deg, rgb(255, 255, 255), white)
}

