/* Light CSS Styles */

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
/* font-family: "Rubik";   ^^^

/* *****reminder: put button in navbar to toggle dark mode/light mode*****  */
/* FOR PHASE 2 ^*/

/* make clickable websites float left instead of down */
.float-left
{float: left;}
/* make clickable websites look pretty */
* {
    font-family: "Rubik";
}

/* navigation bar */
nav ul 
{
    display:flex;
    flex-direction: row;
    align-content: stretch;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
nav ul li 
{
    list-style-type:none;
    margin-right:-4px;
    padding:10px;
    border-right:1px solid white;
    flex: 1;
}
nav li a 
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover 
{
    background-color: white;
}
#timeDisplay:hover {
    text-decoration: none;
    background-color: #333;
    color: white;
} 

/* headers */
header {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    color:black;
    font-size: 48px;
    text-align: center;
}
h2 {
    text-align: left;
    font-weight: bolder;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.container {
    max-width: 1100px;
    max-height: 900px;
    margin: 0 auto;
    
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.3);
    
    
    

    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.7);
    display: flex;
    flex-wrap: wrap;
    
    border: 2px solid rgb(0, 0, 0);
    border-radius: 12px;
    
}
.form-container {
    flex: 1;
    margin-right: 30px
   
}

.contact-info {
    flex: 1;
    border: 5px solid rgb(0, 0, 0)363;
    border-radius: 4px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 12px;
    color:black;
    
}


.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    
}

.form-group button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #111826;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
}

.form-group button[type="submit"]:hover {
    background-color: rgb(61, 85, 193);
}
.contact-info div{
    background-color: grey;

    
}
#contact-form{
    color:white;
}

/* footer */
footer {
    padding: 30px 0;
}
footer ul {
    list-style-type: none;
    padding: 0;
    position: relative;
}
footer li a {
    color: white;
    text-decoration: none;
}
footer li a:hover {
    color: rgb(61, 85, 193);
    text-decoration: none;
}
.containerFoot {
    max-width: 100%;
    max-height: 10%;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
    color: white;
    border-top: 1px solid rgb(0, 0, 0);
    border-radius: 12px 12px 0px 0px;
    align-items: center;
}

.text-container {
    float: left;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.text-container ul {
    list-style-type: none;
    padding: 0;
    display: inline-block;
}
.fa {
    padding: 20px;
    font-size: 50px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  .fa-facebook:hover{
    color:#3B5998;
    opacity:0.7
  }
  .fa-youtube:hover{
    color:#bb0000;
    opacity: 0.7;
  }
  .fa-instagram:hover{
    color:#125688;
    opacity: 0.7;
  }
  
  

.social-media-icons {
    padding: 10px;
    transform: translateX(95px);
}

.social-media-icons a {
    margin: 0 5px;
    color: white;
    text-decoration: none;
    height: 100px;
    width: 100px;
}

/*.social-media-icons a:hover {
    color: rgb(61, 85, 193);
}*/

.copyright {
    float: right;
    padding: 10px;
    text-align: center;
    align-content: center;
    
   
}
.copyright img {
    height: 100px;
    width: 100px;
    display: flex;
    margin: auto;
    
}