/* Light CSS Styles */

@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: "Rubik";   ^^^

/* *****reminder: put button in navbar to toggle dark mode/light mode*****  */
/* FOR PHASE 2 ^*/

/* make clickable websites float left instead of down */
.float-left
{float: left;}
/* make clickable websites look pretty */
h1 {
    text-align: center;
}
* {
    font-family: "Rubik";
}
/* navigation bar */
nav ul 
{
    display:flex;
    flex-direction: row;
    align-content: stretch;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
nav ul li 
{
    list-style-type:none;
    margin-right:-4px;
    padding:10px;
    border-right:1px solid white;
    flex: 1;
}
nav li a 
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover 
{
    background-color: white;
}

#timeDisplay:hover {
    text-decoration: none;
    background-color: #333;
    color: white;
} 

body
{
    background-color: white;
    color: black;
}

table {
    width: 25%;
    }

th, td {
        border: 1px solid #333;
        text-align: left;
    }

th {	
        background-color: white;
    }

script
{
    color: black;
}

input
{
    background-color: white;
    color: white;
    border-color: rgb(0, 0, 0);
    padding: 5px;
    margin: 3px;
}

textarea
{
    background-color: white;
    color: white;
    border-color: black;
    padding: 5px;
    margin: 3px;
}

/* change text color in my input box to black */
input[type=text] 
{
    color: black;
}


