@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@1,100&display=swap');

body {
    font-family: "PT Serif";
    background-image: url("tropwater.webp");
    background-size: 2000px;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.label2 {
    margin-bottom: 17px;
}

button {
    height: 50px;
    width: 200px;
    background-color: lightblue;
    border-radius: 20%
}

/*Makes button highlight when hovering */
button:hover {
    background-color: rgb(73, 205, 249);
}

#book {
    width: 80px;
}

#headText {
    text-align: center;
    color: black;
    text-shadow: 0 0 3px white, 0 0 5px white;
    z-index: 2;
    margin: 50px;
    font-weight: bold;
}

#details {
    margin-left: 84px;
    margin-right: 5px;
    width: 100%;
}

#vacList {
    height: 500px;
}

#container {
    display: flex;
    border: 3px solid #000000;
    margin: 10px;
    padding: 15px;
    width: 95%;
    height:
        /*900px*/
        819px;
    background-color: white;

}

#imgContainer {
    position: relative;
    padding: 1mm;
    height: 10cm;
    width: 5cm;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;

}

#image {
    height: 685cm;
    width: 6.85cm;
    position: relative;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.3s ease;

}

.label2 {
    color: black;
    font-weight: bold;
    z-index: 2;
}

button {
    position: center;
    z-index: 2;
}

#stars {
    color: gold;
}

#getInfo {
    color: black;
}